* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    overflow-x: hidden;
    font-family: var(--font-style-one);
    background: var(--background-color);

}

:root {
    --main-font-color: #acacac;
    --font-style-one: 'Saira', sans-serif;
    --font-style-two: 'Ropa Sans', sans-serif;
    --primary-color: #acacac;
    --secondary-color: #114fc8;
    --background-color: linear-gradient(243.18deg, #25273f 0%, rgba(56, 56, 56, 0) 100%), #000000;
}

a {
    text-decoration: none;
    color: var(--secondary-color);
}

.page {
    position: relative;
    width: 100vw;
    height: 100vh;
    
    overflow: hidden;
}

.home_info {
    font-size: 20pt;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
    position: fixed;
    z-index: 5;
    padding: 5px 15px 0 25px;
}

.home_info p {
    margin: 0;
    padding: 0;
    color: var(--primary-color);
    font-size: 14pt;
}

.home_info_icons {
    height: 100px;
    display: flex;
    justify-content: space-between;
    flex-direction: column; 
    margin-top: 10px;
    text-align: center;
}

.home_info_icons a{
    color: var(--primary-color);
    font-size: 24pt;
}

.home_main_content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 100vh;
}

.home_slogan_logo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.logo {
    width: 800px;
    filter: invert(20%) sepia(99%) saturate(7499%) hue-rotate(219deg) brightness(90%) contrast(87%);
}

.home_slogan_logo p {
    font-size: 100pt;
    font-weight: 600;
    margin: 0; 
    padding: 0;
    background: -webkit-linear-gradient(top left, rgba(0, 0, 0, .3), rgba(255, 255, 255, 0.8)); 
    background: linear-gradient(top, #000000, #ffffff); 
    -webkit-background-clip: text; -webkit-text-fill-color: transparent; text-align:center;
    -webkit-text-fill-color: transparent;
    position: relative;
    overflow: hidden;
}

.scroll_link {
    border: solid var(--secondary-color) 1px;
    box-shadow: 0 0 10px var(--secondary-color);
    font-size: 15pt;
    color: var(--main-font-color);
    cursor: pointer;
    z-index: 2;
    width: 30px;
    height: 60px;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    padding-top: 10px
}

.scroll_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-height: 150px;
}

.scroll_icon {
    background: var(--main-font-color);
    width: 5px;
    height: 5px;
    border-radius: 10px;
    transition: .4s;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
    animation-name: scroll;
}
@keyframes scroll{
    0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: translateY(35px);
  }
}

.see_more {
    color: var(--main-font-color);
    padding-top: 10px;
}

.universal_nav {
    height: 40px;
    width: 85px;
    position: fixed;
    left: -5px;
    top: 74%;
    z-index: 1000;
    transform: rotate(-90deg);
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
    margin-left: -25px;
}

.universal_nav .nav_items {
    display: block;
    height: 70px;
    width: 400px;
    padding: 25px 30px;
    text-decoration: none;
}

.nav_items a:hover {
    color: var(--secondary-color);
}

.nav_items a {
    display: inline-block;
    margin: 0 20px;
    cursor: pointer;
    color: var(--main-font-color);
    font-size: 12pt;
    font-weight: 500;
}

/*----------------------------------------services-------------------------------*/
.gauge_container {
    width: 100vw;
    display: flex;
    justify-content: space-evenly;
    bottom: 50px;
    min-height: 500px;
    max-height: 900px;
    align-items: center;
    flex-wrap: wrap;
  }

  .full_gauge {
      width: 300px;
      display: flex;
      flex-direction: column;
      align-items: center;
  }
  
  .bar {
    height: 5px;
    width: 150px;
    background: grey;
  }
  
  .filler {
    height: inherit;
    width: 0px;
    transition: 2s;
  }
  
  .pbar {
    color: white;
    text-align: center;
    font-size: 40pt;
    margin-bottom: 25px;
    }
  
  
  .gauge_caption {
    color: white;
    width: 150px;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    font-size: 14pt;
  }


.services_page {
    height: inherit;
    align-items: center;
    padding-bottom: 100px;
    display: flex;
    flex-direction: column;

}

.services_body {
    width: 80vw;
    display: flex;
    margin: 0 auto 0 auto;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    height: inherit;
}

.service_heading {
    font-size: 50pt;
    color: white;
    text-align: center;
}

.serv_footings {
    color: white;
    font-weight: bold;
    font-size: 14pt;
}

.serv_box {
    height: inherit;
    color: var(--main-font-color);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 400px;
    background: linear-gradient(322.3deg, rgba(122, 207, 255, 0.14) 1.54%, rgba(34, 37, 37, 0) 74.88%);
    margin: 15px;
    transition: .5s;
    padding: 0 20px 0 0;
}

.serv_box:hover {
    box-shadow: 0 0 15px 1px rgb(90, 106, 131);
}

.serv_headings {
    font-size: 20pt;
    font-weight: bold;
    text-shadow: 0px 0px 20px rgba(248, 248, 248, 0.664);
    color: white;
}


li {
    list-style: none;
}

.pricing {
    list-style: none;
    padding: none;
    font-size: 14pt;
    font-weight: bold;
    color: var(--primary-color);
}

/*----------------------------------------services-------------------------------*/

.contact {
    display: flex;
    color: var(--primary-color);
    flex-direction: column;
    align-items: center;
    height: inherit;
}

.contact h1 {
    font-size: 40pt;
    color: white;
}

.contact_container {
    color: white;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 75vw;
    margin: auto;

}

.contact_container h2 {
    color: white;
    text-shadow: 0 0 10px white;
    text-align: center;
}


form {
    display: flex;
    flex-direction: column;
    width: 400px;
    height: 500px;
    justify-content: space-between;
    text-align: left;
    color: white;
  }
  
  form input {
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: solid 1px #12FFE3;
    outline: none;
    background: none;
    color: white;
  }

  form input::placeholder {
      color: white;
      font-size: 12pt;
  }
  
  textarea {
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: solid 1px #12FFE3;
    margin-top: 20px;
    background: none;
    outline: none;
    resize: none;
    color: white;
    font-size: 12pt;
  }

  textarea::placeholder {
      font-family: 'Roboto', sans-serif;
      color: white;
      font-size: 12pt;
  }
  
  .submit_btn {
    padding: 20px 20px;
    width: 150px;
    border: solid yellow 1px;
    background: none;
    resize: none;
    cursor: pointer;
  }
  
  .contact_info {
    height: 500px;
    width: 500px;
    margin-left: 15px;
    display: flex;
    flex-direction: column;
  }

  .contact_info span {
      font-size: 16pt;
      margin: 0 10px 0 0;
      display: inline;  
      color: white;
  }

  .contact_info p {
      margin-bottom: 10px;
      width: inherit;
      color: var(--primary-color)
  }

  .contact_info_crit {
      margin-top: 50px;
      width: 500px; 
      display: flex;
      text-align: center;
      height: 300px;
      justify-content: space-evenly;
  }

  .contact_info_links {
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
  }

  .contact_info_links a {
      color: blue;
      font-size: 24pt;
      margin-top: 30px;
  }

  .contact_info_text {
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      font-size: 14pt;
      text-align: center;
      width: 250px;
  }

  .info_icons {
      font-size: 27pt;
      height: inherit;
      display: flex;
      justify-content: space-around;
      align-items: center;
      width: 200px;
      margin: auto;
      
  }

  .info_icons a {
      color: #12d0ff;
  }


/*----------------------------------------FOOTER-------------------------------*/

.footer {
    background: none;
    height: inherit;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    padding-top: 100px;
}

.footer p {
    margin: 0;
}

small {
    font-size: 9pt;
    color: silver;
}

/*----------------------------------------mobile-------------------------------*/


@media(max-width:800px) {

    .home_main_content {
        height: 100vh;
        justify-content: center;
    }

    .universal_nav {
        height: 40px;
        top: 0;
        left: 0;
        right: 0;
        transform: rotate(0);
        width: inherit;
        padding: 10px;
        display: flex;
        justify-content: flex-end;
        margin: 0;
    }
    
    .universal_nav .nav_items {
        display: flex;
        position: block;
        justify-content: space-between;
        align-items: space-between;
        width: 50%;
        flex-direction: row-reverse;
        padding: 0;
        margin: 0;
        height: inherit;
    }

    .nav_items a {
        font-size: 10pt;
        margin: 0;
        padding: 0;
        display: block;
    }

    .logo {
        width: 360px;
    }
    

    .home_info p {
        font-size: 14pt;
        display: none;
    }

    .home_info_icons {
        flex-direction: row;
        width: 60px;
        padding: 0;
        margin: 0;
        font-size: 12pt;
        display: none;
    }

    .home_slogan_logo {
        height: 400px;
        flex-direction: column;
    }

    .home_slogan_logo p{
        font-size: 30pt;
        width: 400px;
        display: inline-block;
        padding: 0;
        margin: 0;
    }

    form {
        width: 300px;
    }

    .contact_container {
        justify-content: center;
    }
    
    .contact_info {
        align-items: center;
    }

    .contact_info_text {
        text-align: left;
        width: 200px;
    }
}